body {
    font-family: "Roboto", sans-serif;
    background-color: #111111;
}

.container {
    padding: 0 20px;
    margin: 0 auto;
}

@media (width >= 768px) {
    .container {
        padding: 0 32px;
    }
}

@media (width >= 2600px) {
    .container {
        max-width: 2600px;
    }
}

/* responsive-size: calc(min-size + (max-size - min-size) * ((100vw - min-viewport) / (max-viewport - min-viewport))); */

/* Tab outline */
:focus {
    outline: none;
}

:focus-visible,
a:focus-visible {
    outline: none;
    box-shadow: inset 0 0 1px 1px #ffc226, 0 0 0 2px rgb(255, 255, 255);
    transition: box-shadow 0.08s ease;
}

a:focus-visible {
    border-radius: 6px;
}
