.header__logo-text {
    font-weight: var(--font-regular);
    font-size: min(24px, 1.25rem);
    color: var(--color-titles);
}

.header__mobile-menu-toggle {
    font-weight: var(--font-medium);
    font-size: 0.75rem;
    color: var(--color-menu);
}

.header__mobile-menu-toggle:hover,
.header__mobile-menu-toggle:focus,
.header__menu-link:hover,
.header__menu-link:focus {
    color: var(--color-menu-hover);
}
.header__mobile-menu-toggle:active,
.header__mobile-menu-link:active,
.header__menu-link:active {
    color: var(--color-current);
}

.header__mobile-menu-link {
    font-weight: var(--font-regular);
    font-size: 0.875rem;
    color: var(--color-titles);
}

.header__mobile-menu-link:hover,
.header__mobile-menu-link:focus {
    color: #d8d8d8;
}

.header__mobile-menu-link.current,
.header__menu-link.current {
    color: var(--color-current);
}

@media (width >= 768px) {
    .header__logo-text {
        font-size: 1.5rem;
    }

    .header__menu-link {
        font-weight: var(--font-medium);
        color: var(--color-menu);
        font-size: 0.875rem;
    }
}

/* Hero section */

.hero__title {
    font-weight: var(--font-bold);
    font-size: calc(2rem + 12 * ((100vw - 320px) / (768 - 320)));
    color: #ffffff;
}

.hero__description {
    font-weight: var(--font-regular);
    font-size: 0.875rem;
    color: var(--color-main);
}

.hero__btn-trailer,
.hero__btn-details {
    font-weight: var(--font-medium);
    font-size: 0.75rem;
    text-align: center;
}

.hero__btn-trailer {
    color: #111111;
}

.hero__btn-trailer:hover,
.hero__btn-trailer:focus-visible,
.hero__btn-details:hover,
.hero__btn-details:focus-visible {
    color: #f87719;
}

.hero__btn-details {
    color: #ffffff;
}

@media (width >= 768px) {
    .hero__title {
        font-size: clamp(
            2.75rem,
            calc(2.75rem + 20 * ((100vw - 768px) / (1280 - 768))),
            4rem
        );
    }

    .hero__btn-trailer,
    .hero__btn-details {
        font-size: 0.875rem;
    }
}

@media (width >= 1280px) {
    .hero__description {
        font-size: 1rem;
    }

    .hero__btn-trailer,
    .hero__btn-details {
        font-size: 1rem;
    }
}

/* Trending section */

.trending__title {
    font-weight: var(--font-medium);
    font-size: clamp(
        1rem,
        calc(1rem + 8 * ((100vw - 320px) / (768 - 320))),
        1.5rem
    );
    text-transform: uppercase;
    color: var(--color-titles);
}

.trending__title-link {
    font-weight: var(--font-medium);
    font-size: clamp(
        1rem,
        calc(1rem + 8 * ((100vw - 320px) / (768 - 320))),
        1.5rem
    );
    color: var(--color-current);
}

@media (width >= 1280px) {
    .trending__title,
    .trending__title-link {
        font-size: 1.75rem;
    }
}
