.header__mobile-menu-toggle,
.header__mobile-menu-link,
.header__menu-link {
    transition: color 150ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header__mobile-menu {
    transition: left 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header__mobile-menu-backdrop {
    transition: opacity 250ms cubic-bezier(0.47, 0, 0.745, 0.715),
        visibility 250ms cubic-bezier(0.47, 0, 0.745, 0.715);
}

.header__theme-switcher-thumb {
    transition: 350ms;
}

/* Hero section */

.hero__btn-trailer,
.hero__btn-details {
    transition: all 150ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero__btn-trailer:active:hover,
.hero__btn-trailer:active:focus,
.hero__btn-details:active:hover,
.hero__btn-details:active:focus {
    transform: scale(1);
    transition: none;
    color: black;
}

/* Upcoming section */
.upcoming__add-btn {
    transition: all 150ms cubic-bezier(0.4, 0, 0.2, 1);
}

.upcoming__add-btn:active:hover,
.upcoming__add-btn:active:focus {
    transform: scale(1);
    transition: none;
    color: black;
}

/* Footer section */
.footer__heart {
    animation: Scale 0.7s ease infinite alternate;
}

.footer__link {
    transition: color 150ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer__link:hover,
.footer__link:focus {
    color: var(--color-current);
}

@media (prefers-reduced-motion: reduce) {
    .header__theme-switcher-thumb,
    .header__mobile-menu,
    .header__mobile-menu-backdrop,
    .header__mobile-menu-toggle,
    .header__mobile-menu-link,
    .hero__btn-trailer,
    .hero__btn-details,
    .upcoming__add-btn,
    .footer__heart,
    .footer__link {
        transition: none;
        animation: none;
    }
}
