:root {
    /* Typography */
    --font-regular: 400;
    --font-medium: 500;
    --font-bold: 700;

    /* Colors */
    --primary-gradient: linear-gradient(145deg, #ffc226 0%, #f84119 100%);
    --color-current: #f87719;

    --color-main: #f8f8f8;
    --color-titles: #ffffff;
    --color-menu: #b7b7b7;
    --color-menu-hover: #a1a1a1;

    --color-main-light: #282828;
    --color-titles-light: #111111;
    --color-menu-light: #595959;
}
