.card {
    width: 280px;
    height: 406px;
    border-radius: 5px;

    position: relative;
    cursor: pointer;

    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.card__info-container {
    position: absolute;
    left: 0px;
    bottom: 0px;
    width: 100%;
    padding: 12px;
}

.card__movie-title {
    margin-bottom: 0.25rem;
}

.card__movie-info-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card__movie-rating {
    display: flex;
    gap: 4px;

    padding-left: 8px;
}

.card__star {
    width: 14px;
    height: 14px;
}

@media (width >= 768px) {
    .card {
        width: 224px;
        height: 325px;
    }

    .card__star {
        width: 10px;
        height: 10px;
    }
}

@media (width >= 1280px) {
    .card {
        width: 395px;
        height: 574px;
    }

    .card__info-container {
        padding: 20px;
    }

    .card__star {
        width: 18px;
        height: 18px;
    }
}
