:root {
    --orange: #f87719;
    --grey: #b7b7b7;
    --white: #fff;
    --black: #000;
    --background: #111;
    --secondary-text-grey: #f8f8f8;
    --secondary-black-grey: #282828;
    --grey-white-theme: #595959;
}

.btn__black {
    background: var(--background);
    color: var(--white);
    border: 1px solid var(--orange);
}
.btn.btn__black:hover,
.btn.btn__black:active {
    background-color: var(--white);
    color: var(--orange);
    border-color: var(--background);
}
.btn__grey {
    background: var(--secondary-black-grey);
    color: var(--grey);
    border: 1px solid;
    border-color: var(--grey-white-theme);
}
.btn.btn__grey:hover,
.btn.btn__grey:active {
    background: var(--white);
    color: var(--orange);
    border: 1px solid var(--orange);
}
.btn__white {
    background: var(--white);
    color: var(--black);
    border: 1px solid;
    border-color: #f84119;
}
.btn.btn__white:hover,
.btn.btn__white:active {
    background-color: var(--black);
    color: var(--orange);
    border-color: var(--background);
}
.btn__nav-page {
    width: auto;
    height: auto;
    padding: 0 10px;
    font-size: 50px;
    font-weight: 400;
    background: transparent;
    color: var(--grey);
    border: none;
}
.btn.btn__nav-page:hover,
.btn.btn__nav-page:active {
    background: transparent;
    color: var(--orange);
    border: none;
}

.btn__small {
    font-size: 12px;
    line-height: 1.33333;
}
.search {
    font-family: inherit;
    font-weight: 500;
    cursor: pointer;
    display: inline-block;
    margin: 0 auto;
    border: none;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    border-radius: 50%;
    width: 48px;
    height: 48px;
    justify-content: center;
    align-items: center;
}
.btn__search_black {
    background: linear-gradient(145deg, #ffc226 0%, #f84119 100%);
    color: white;
}
.search.btn__search_black:hover,
.search.btn__search_black:active {
    background-color: white;
    background: none;
    color: #f84119;
    border: 1px solid #f84119;
}
.icon {
    fill: none;
    stroke: var(--white);
}
.search.btn__search_black:hover .icon path {
    stroke: url(#myGradient);
}

.card-star,
.star {
    width: 14px;
    height: 14px;
}
/* ----------------------------- responsive -------------------------- */
/* ----------------------------------------------------------------------------------------------------TABLET */
@media (min-width: 768px) and (max-width: 1279px) {
    .card-star,
    .star {
        width: 10px;
        height: 10px;
    }
}
/* ----------------------------------------------------------------------------------------------------DESKTOP */
@media (min-width: 1280px) {
    .btn__semi-medium {
        font-size: 16px;
        line-height: 1.5;
    }
    .btn__medium {
        font-size: 14px;
        line-height: 1.14286;
    }

    .card-star,
    .star {
        width: 18px;
        height: 18px;
    }
}
.catalog__text {
    display: flex;
    justify-content: center;
}
.catalog__form-input {
    background-color: var(--background);
    color: var(--white);
    border: 1px solid var(--white);
    border-radius: 8px;
    padding: 12px 26px 12px 24px;
    height: 48px;
}
.catalog__search {
    display: flex;
    justify-content: center;
    margin-bottom: 16px;
}
@media (min-width: 768px) {
    .catalog__search {
        margin-bottom: 36px;
    }
}
@media (min-width: 1280px) {
    .catalog__search {
        margin-bottom: 48px;
    }
}
.catalog__form-search {
    display: flex;
    margin: 0 auto;
    justify-content: center;
    gap: 16px;
}
.catalog__form {
    display: flex;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    padding-top: 60px;
}
@media (width < 768px) {
    .catalog__text {
        font-size: 20px;
    }
    .catalog__form-input {
        width: 224px;
    }
    .catalog__form {
        text-wrap: wrap;
    }
}
@media (width >= 768px) and (width < 1280px) {
    .catalog__text {
        font-size: 24px;
    }
    .catalog__form-input {
        width: 264px;
    }
}
@media (width >= 1280px) {
    .catalog__text {
        font-size: 32px;
        padding-top: 160px;
    }
    .catalog__form-input {
        width: 315px;
    }
}
.team__backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow-y: auto;
    z-index: 998;
    padding: 15px;
    background-color: rgba(0, 0, 0, 0.7);
    visibility: visible;
    opacity: 1;
}
.is-hidden {
    visibility: hidden;
    pointer-events: none;
    opacity: 0;
}
.is-hidden .team__wrapper {
    visibility: hidden;
    pointer-events: none;
    opacity: 0.3;
    transform: translate(-75%, -90%) scale(3);
}
.team__modal-close-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 5px;
    right: 5px;
    padding: 0px;
    border: none;
    background-color: transparent;
    border-radius: 50%;
    cursor: pointer;
    color: black;
}
@media screen and (min-width: 768px) {
    .team__modal-close-btn {
        top: 10px;
        right: 10px;
    }
}
.team__modal-close-btn:hover {
    color: orange;
}
.team__modal-close-icon {
    fill: currentColor;
}
.team__title {
    text-align: center;
    text-transform: uppercase;
    color: black;
    font-size: 24px;
    margin-bottom: 20px;
}
.team__list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}
.team__item {
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    background: white;
    position: relative;
    border-radius: 10px;
    padding-bottom: 5px;
    overflow: hidden;
}
.team__wrap {
    overflow: hidden;
}
.team__img {
    overflow: hidden;
    object-fit: cover;
    margin-bottom: 5px;
    width: 200px;
    height: 250px;
}
.team__box {
    font-weight: 500;
    font-size: 16px;
    padding: 15px;
    text-align: center;
}
.team__member {
    font-weight: 500;
    font-size: 20px;
    color: black;
    margin-bottom: 15px;
}
.team__role {
    font-weight: 500;
    font-size: 16px;
    color: orange;
    margin-bottom: 15px;
}
.team__link-github {
    border: none;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: transparent;
    fill: black;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}
@media screen and (min-width: 320px) {
    .footer {
        margin-top: 40px;
        margin-bottom: 30px;
    }
}
@media screen and (min-width: 768px) {
    .footer {
        margin-top: 60px;
        margin-bottom: 40px;
    }
}
@media screen and (min-width: 1280px) {
    .footer {
        margin-top: 100px;
        margin-bottom: 80px;
    }
}
.footer__container {
    margin-top: 30px;
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}
@media (max-width: 767px) {
    .footer__container {
        flex-direction: column;
    }
    .footer__container .footer__description {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        margin-top: 10px;
    }
    .footer__container .footer__text {
        margin-right: 5px;
    }
}
.footer__copyright {
    color: #b7b7b7;
    margin-right: 5px;
}
.footer__description {
    color: #b7b7b7;
}
.footer__text {
    color: #b7b7b7;
}
.heart__icon {
    margin: 0 10px;
    animation: Scale 0.7s ease infinite alternate;
}
@media screen and (min-width: 768px) {
    .heart__icon {
        margin: 0 8px;
    }
}
@media screen and (min-width: 1280px) {
    .heart__icon {
        margin: 0 5px;
    }
}
.footer__link {
    background-color: transparent;
    color: #b7b7b7;
    border: none;
    text-decoration: underline;
    cursor: pointer;
}
.footer__link:hover {
    transition: color 0.6s, transform 0.6s;
    color: #f87719;
}
body.light .footer__copyright {
    color: #595959;
}
body.light .footer__description {
    color: #595959;
}
body.light .footer__text {
    color: #595959;
}
body.light .footer__link {
    color: #595959;
}
body.light .footer__link:hover {
    color: #f87719;
}

@media (width < 768px) {
    .hero_background-def {
        width: 320px;
        height: 380px;
        background: linear-gradient(82deg, #111 28.7%, rgba(17, 17, 17, 0) 100%),
            url("/src/images/hero_mobile.png");
        background-size: cover;
        background-repeat: no-repeat;
        margin: 0 auto;
    }

    .hero__text-def {
        padding-top: 40px;
        font-family: var(--font-family);
        font-weight: 700;
        font-size: 32px;
        color: var(--white);
    }
    .hero__text-default {
        padding-top: 8px;
        width: 100%;
        font-family: var(--font-family);
        font-weight: 400;
        font-size: 14px;
        color: var(--secondary-text);
    }

    .buttons__def-hero {
        padding-top: 20px;
    }
}
/* ----------------------------------------------------------------------------------------------------TABLET */
@media (width >=768px) and (width < 1280px) {
    .hero_background-def {
        width: 768px;
        height: 432px;
        background: linear-gradient(76deg, #111 6.82%, rgba(17, 17, 17, 0) 100%),
            url("/src/images/hero_tablet.png");
        background-size: cover;
        background-repeat: no-repeat;
        margin: 0 auto;
    }

    .buttons__def-hero {
        padding-top: 28px;
    }
}
.hero__text-def {
    padding-top: 62px;
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 44px;
    color: var(--white);
}
.hero__text-default {
    padding-top: 8px;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 14px;
    color: var(--secondary-text);
}
/* ----------------------------------------------------------------------------------------------------DESKTOP */
@media (width >=1280px) {
    .hero_background-def {
        width: 1280px;
        height: 720px;
        background: linear-gradient(
                69deg,
                #111 19.23%,
                rgba(17, 17, 17, 0) 100%
            ),
            url("/src/images/hero_desktop.png");
        background-size: cover;
        background-repeat: no-repeat;
        margin: 0 auto;
    }

    .buttons__def-hero {
        padding-top: 36px;
    }
    .hero__text-def {
        padding-top: 169px;
        font-family: var(--font-family);
        font-weight: 700;
        font-size: 64px;
        color: var(--white);
    }
    .hero__text-default {
        padding-top: 8px;
        font-family: var(--font-family);
        font-weight: 400;
        font-size: 16px;
        color: var(--secondary-text);
    }
}

/* ----------------------------- responsive -------------------------- */
/* ----------------------------------------------------------------------------------------------------MOBILE */
@media (width < 768px) {
    .web-width {
        width: 320px;
    }
}
/* ----------------------------------------------------------------------------------------------------TABLET */
@media (width >= 768px) and (width < 1280px) {
    .web-width {
        width: 768px;
    }
}
/* ----------------------------------------------------------------------------------------------------DESKTOP */
@media (width >= 1280px) {
    .web-width {
        width: 1280px;
    }
}
/* width */
::-webkit-scrollbar {
    width: 10px;
}
/* Track */
::-webkit-scrollbar-track {
    background: var(--background);
}
/* Handle */
::-webkit-scrollbar-thumb {
    background: var(--orange);
    border-radius: 2.5px;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}
@keyframes Scale {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(1.5);
    }
}
body.light {
    background-color: #fff;
    color: #282828;
    transition: background-color 0.25s ease-out;
}
body.light .header__container {
    background-color: #fff;
}
body.light .hero__background h2,
body.light .hero__background p {
    color: #fff;
}
body.light .herolib h2,
body.light .herolib p {
    color: #fff;
}
body.light p {
    color: #282828;
}
body.light h2 {
    color: #282828;
}
body.light .header__logo-text {
    color: #000;
}
body.light .header__nav-link {
    color: #595959;
}
body.light .header__nav-link:hover,
body.light .header__nav-link:focus {
    color: #f87719;
}
body.light .catalog__form-input {
    background-color: var(--white);
    color: var(--black);
    border: 1px solid var(--black);
    border-radius: 8px;
    padding: 12px 26px 12px 24px;
    height: 48px;
}
body.light .my-library__form-select {
    background-color: var(--white);
    color: var(--secondary-black-grey);
    border: 1px solid var(--secondary-black-grey);
    border-radius: 8px;
    padding: 12px 60px 12px 20px;
    width: 173px;
    height: 40px;
}
body.light .movielist__movie-title {
    text-transform: uppercase;
    color: var(--white);
}
body.light .movielist__movie-genre {
    color: var(--grey);
}
body.light .btn__search_black {
    background: linear-gradient(145deg, #ffc226 0%, #f84119 100%);
    color: var(--black);
}
body.light .search.btn__search_black:hover,
body.light .search.btn__search_black:active {
    background-color: white;
    background: none;
    color: #f84119;
    border: 1px solid #f84119;
}
body.light .search.btn__search_black:hover .icon path {
    stroke: url(#myGradient);
}
body.light .icon {
    fill: none;
    stroke: var(--white);
}
body.light .btn-upcomming {
    color: var(--background);
    border-color: var(--orange);
}
body.light .btn-upcomming:hover {
    color: var(--orange);
    background-color: var(--background);
    border: 1px solid;
    border-color: var(--background);
    cursor: pointer;
}
body.light .btn-modal {
    color: var(--background);
    border-color: var(--orange);
}
body.light .btn-modal:hover {
    color: var(--orange);
    background-color: var(--background);
    border: 1px solid;
    border-color: var(--background);
    cursor: pointer;
}
body.light .modal-film {
    background-color: var(--white);
    box-shadow: 1px 1px 14px 4px rgba(255, 107, 8, 0.42);
}
body.light .modal-film__title {
    color: var(--background);
}
body.light .modal-film__blok {
    color: var(--background);
}
body.light .modal-film__about {
    color: var(--background);
}
body.light .modal-film__link-item {
    color: var(--background);
}
body.light .vote {
    background-color: var(--secondary-text-grey);
    color: var(--black);
}
body.light .votes {
    background-color: var(--secondary-text-grey);
    color: var(--black);
}
body.light .modal-film__about-txt {
    color: var(--secondary-black-grey);
}
body.light .modal-film__close-icon {
    fill: var(--secondary-black-grey);
}
body.light .modal-film__close-icon:hover,
body.light .modal-film__close-icon:focus {
    fill: var(--orange);
}
body.light .upcoming-header-two {
    color: var(--background);
}
body.light .upcoming-p-two {
    color: var(--orange);
}
body.light .upcoming-header-three {
    color: var(--background);
}
body.light .upcoming-box {
    background: var(--secondary-text-grey);
    color: var(--background);
}
.loader {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 100;
    visibility: hidden;
    opacity: 0;
    width: 100vw;
    height: 100vh;
    top: 0;
    margin: 0;
    background-color: var(--background);
    transition: opacity 400ms ease-in-out, visibility 0s 400ms;
}
.show-loader {
    visibility: visible;
    opacity: 1;
}
.circle {
    background-color: var(--orange);
    height: 20px;
    width: 20px;
    border-radius: 50%;
    display: inline-block;
    -webkit-animation: stretchdelay 0.7s infinite ease-in-out;
    animation: stretchdelay 0.7s infinite ease-in-out;
}
.loader .circle:nth-child(1) {
    -webkit-animation-delay: -0.6s;
    animation-delay: -0.6s;
}
.loader .circle:nth-child(2) {
    -webkit-animation-delay: -0.5s;
    animation-delay: -0.5s;
}
.loader .circle:nth-child(3) {
    -webkit-animation-delay: -0.4s;
    animation-delay: -0.4s;
}
.loader .circle:nth-child(4) {
    -webkit-animation-delay: -0.3s;
    animation-delay: -0.3s;
}
@keyframes stretchdelay {
    0%,
    40%,
    100% {
        transform: translateY(-10px);
        -webkit-transform: translateY(-10px);
    }
    20% {
        transform: translateY(-20px);
        -webkit-transform: translateY(-20px);
    }
}
/* ========================MODAL====================== */
.btn-modal {
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: calc(14 / 12);
    color: var(--white);
    padding: 12px 24px;
    border-radius: 74px;
    background-color: transparent;
    border: 1px solid;
    border-color: var(--orange);
    transition-property: color, background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 1200px) {
    .btn-modal {
        font-size: 12px;
        line-height: calc(16 / 12);
    }
}
.watch-modal__iframe {
    height: 200px;
    width: 100%;
}
@media screen and (min-width: 768px) {
    .watch-modal__iframe {
        height: 100%;
    }
}
@media screen and (min-width: 1200px) {
    .watch-modal__iframe {
        height: 100%;
    }
}
.btn-modal:hover {
    color: var(--orange);
    background-color: var(--white);
    border: 1px solid;
    border-color: var(--white);
    cursor: pointer;
}
.modal-film {
    z-index: 10;
    background-color: #111;
    box-shadow: 1px 1px 14px 4px rgba(255, 107, 8, 0.42);
    text-align: left;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.7);
    width: 400px;
    min-height: 160px;
    padding: 52px 16px;
    border-radius: 16px;
    transition-property: all;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    margin: 0 auto;
}
@media screen and (min-width: 768px) {
    .modal-film {
        transform: translate(-50%, -50%) scale(0.9);
        top: 50%;
        left: 50%;
        width: 704px;
        height: 488px;
        padding: 44px;
    }
}
@media screen and (min-width: 1200px) {
    .modal-film {
        transform: translate(-50%, -50%) scale(0.9);
        top: 50%;
        left: 50%;
        width: 846px;
        height: 598px;
        padding: 60px;
        border-radius: 20px;
    }
}
.modal-film__close:hover {
    cursor: pointer;
}
.modal-film__close {
    position: absolute;
    top: 20px;
    right: 16px;
    margin: 0;
    width: 24px;
    height: 24px;
    border: none;
    background-color: transparent;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 768px) {
    .modal-film__close {
        top: 24px;
        right: 24px;
    }
}
@media screen and (min-width: 1200px) {
    .modal-film__close {
        top: 40px;
        right: 40px;
    }
}
.modal-film__close-icon {
    fill: var(--white);
    transition-property: fill;
    transition-duration: 100ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-film__close-icon:hover,
.modal-film__close-icon:focus {
    fill: var(--orange);
}
.modal-film__container {
    padding: 0;
    margin: 0 auto;
    box-sizing: border-box;
    width: 248px;
}
@media screen and (min-width: 768px) {
    .modal-film__container {
        width: 616px;
        height: 400px;
        display: flex;
    }
}
@media screen and (min-width: 1200px) {
    .modal-film__container {
        width: 726px;
        height: 478px;
        display: flex;
    }
}
.modal-film__img {
    width: 248px;
    height: 315px;
    margin-bottom: 22px;
}
@media screen and (min-width: 768px) {
    .modal-film__img {
        width: 294px;
        height: 400px;
        margin: 0 16px 0 0;
    }
}
@media screen and (min-width: 1200px) {
    .modal-film__img {
        width: 375px;
        height: 478px;
        margin: 0 20px 0 0;
    }
}
.modal-film__title {
    color: var(--white);
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.15;
    margin-bottom: 29px;
}
@media screen and (min-width: 768px) {
    .modal-film__title {
        font-size: 24px;
        line-height: calc(28 / 24);
        margin-bottom: 26px;
    }
}
@media screen and (min-width: 1200px) {
    .modal-film__title {
        margin-bottom: 28px;
        font-size: 24px;
        line-height: calc(32 / 24);
    }
}
.modal-film__blok {
    display: flex;
    color: var(--grey);
    justify-content: space-between;
    margin-bottom: 20px;
}
.attribute {
    margin-right: 50px;
}
@media screen and (min-width: 768px) {
    .attribute {
        margin-right: 62px;
    }
}
.modal-film__about {
    font-style: normal;
    font-weight: 500;
    color: var(--grey);
    text-transform: uppercase;
    font-size: 14px;
    line-height: calc(16 / 14);
    margin-bottom: 12px;
}
@media screen and (min-width: 768px) {
    .modal-film__about {
        margin-bottom: 16px;
    }
}
@media screen and (min-width: 1200px) {
    .modal-film__about {
        font-size: 16px;
        line-height: calc(16 / 16);
    }
}
.modal-film__link {
    width: 100px;
}
.modal-film__link-item {
    color: var(--white);
}
.modal-film__link,
.modal-film__link-item {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    margin-bottom: 12px;
}
.modal-film__link:last-child,
.modal-film__link-item:last-child {
    margin-bottom: 0;
}
@media screen and (min-width: 1200px) {
    .modal-film__link,
    .modal-film__link-item {
        font-size: 16px;
        line-height: calc(19 / 16);
        margin-bottom: 14px;
    }
}
.item-votes {
    display: flex;
}
.vote {
    font-weight: 500;
    font-size: 12px;
    line-height: calc(14 / 12);
    background-color: var(--white);
    border-radius: 5px;
    color: #111;
    padding: 1px 8px;
}
@media screen and (min-width: 1200px) {
    .vote {
        font-size: 14px;
        line-height: calc(16 / 14);
        padding: 1px 8px;
    }
}
.votes {
    font-weight: 500;
    font-size: 12px;
    line-height: calc(14 / 12);
    background-color: var(--white);
    border-radius: 5px;
    color: #111;
    padding: 1px 4px;
}
@media screen and (min-width: 1200px) {
    .votes {
        font-size: 14px;
        line-height: calc(16 / 14);
        padding: 1px 4px;
    }
}
.modal-film__about-txt {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: calc(20 / 12);
    color: var(--secondary-text-grey);
    margin-bottom: 16px;
}
@media screen and (min-width: 768px) {
    .modal-film__about-txt {
        margin-top: 4px;
        margin-bottom: 24px;
    }
}
@media screen and (min-width: 1200px) {
    .modal-film__about-txt {
        font-size: 14px;
        line-height: calc(20 / 14);
        margin-top: 4px;
        margin-bottom: 24px;
    }
}
#mylibrary {
    margin: 0;
}
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    opacity: 0.2;
    z-index: 5;
    transition-property: all;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

.movielist-item {
    width: 280px;
    height: 406px;
    display: flex;
    flex-direction: column;
    position: relative;
    border-radius: 5px;
    background-size: cover;
    cursor: pointer;
    transition: transform 300ms ease-in-out;
}
.movielist-item:hover {
    box-shadow: 1px 1px 6px 4px rgba(255, 107, 8, 0.42);
    transform: scale(1.008);
}
@media (min-width: 768px) {
    .movielist-item {
        width: 224px;
        height: 324px;
    }
}
@media (min-width: 1280px) {
    .movielist-item {
        width: 394px;
        height: 574px;
    }
}
.movielist__movie-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
}
.movielist__information-box {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    position: absolute;
    right: 0px;
    bottom: 0px;
    width: 100%;
    padding: 12px;
}
.movielist__title-box {
    font-weight: 500;
    font-size: 12px;
    line-height: 1.67;
}
@media (min-width: 1280px) {
    .movielist__title-box {
        font-size: 20px;
    }
}
.movielist__movie-title {
    text-transform: uppercase;
    color: var(--white);
}
.movielist__movie-genre {
    color: var(--grey);
}
.movielist__movie-rating {
    display: flex;
    padding-bottom: 8px;
    padding-left: 20px;
    list-style-type: none;
}
@media (min-width: 768px) {
    .movielist__movie-rating {
        padding-top: 32px;
        padding-left: 24px;
    }
}
@media (min-width: 1280px) {
    .movielist__movie-rating {
        padding-top: 32px;
        padding-left: 32px;
    }
}
.my-lib__gallery-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 16px;
}
@media screen and (min-width: 768px) {
    .my-lib__gallery-list {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 16px;
    }
}
@media screen and (min-width: 1280px) {
    .my-lib__gallery-list {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 16px;
    }
}
.my-lib__no-movies {
    padding: 45px 0;
}
@media screen and (min-width: 768px) {
    .my-lib__no-movies {
        padding: 80px 0 60px 0;
    }
}
@media screen and (min-width: 1280px) {
    .my-lib__no-movies {
        padding: 80px 0 100px 0;
    }
}
.my-library__form {
    margin-bottom: 48px;
}
.my-library__form-select {
    background-color: var(--background);
    color: var(--grey);
    border: 1px solid var(--white);
    border-radius: 8px;
    padding: 8px 16px;
    width: 173px;
    height: 40px;
    font-size: 16px;
    cursor: pointer;
}
@media (min-width: 768px) {
    .my-library__form-select {
        width: 144px;
        height: 44px;
    }
}
@media (min-width: 1280px) {
    .my-library__form-select {
        width: 260px;
        height: 48px;
    }
}
.library__text-1 {
    font-weight: 700;
    font-size: 32px;
    color: var(--white);
    margin-left: 20px;
    padding-top: 40px;
    max-width: 249px;
}
@media (min-width: 768px) {
    .library__text-1 {
        font-size: 44px;
        margin-left: 32px;
        padding-top: 62px;
        max-width: 332px;
    }
}
@media (min-width: 1280px) {
    .library__text-1 {
        margin-left: 117px;
        padding-top: 118px;
        font-size: 44px;
        max-width: 370px;
    }
}
.library__text-2 {
    font-weight: 400;
    font-size: 14px;
    color: var(--secondary-text);
    margin-left: 20px;
    padding-top: 8px;
    max-width: 249px;
}
@media (min-width: 768px) {
    .library__text-2 {
        font-size: 14px;
        margin-left: 32px;
        padding-top: 8px;
        max-width: 357px;
    }
}
@media (min-width: 1280px) {
    .library__text-2 {
        margin-left: 117px;
        padding-top: 8px;
        font-size: 16px;
        max-width: 464px;
    }
}
.error-lib {
    font-weight: 400;
    font-size: 20px;
    line-height: 1.125;
    text-align: center;
    color: var(--white);
}
@media (min-width: 768px) {
    .error-lib {
        font-size: 24px;
    }
}
@media (min-width: 1280px) {
    .error-lib {
        font-size: 32px;
    }
}
.library-content__text {
    margin-bottom: 28px;
    line-height: 1.4;
}
.library__btn-load {
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 0 auto;
    margin-top: 40px;
}
.herolib {
    min-width: 320px;
    height: 380px;
    position: relative;
    margin: 0 auto;
    margin-bottom: 80px;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: var(--main-background);
    background-image: linear-gradient(
            83.48deg,
            #0e0e0e 25.78%,
            rgba(14, 14, 14, 0) 60.07%
        ),
        url("../../images/temporary/hero-hall-desktop-2x.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
@media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .herolib {
        background-image: linear-gradient(
                83.48deg,
                #0e0e0e 25.78%,
                rgba(14, 14, 14, 0) 60.07%
            ),
            url("../../images/temporary/hero-hall-desktop-2x.jpg");
    }
}
@media (min-device-pixel-ratio: 3),
    (-webkit-min-device-pixel-ratio: 3),
    (min-resolution: 288dpi),
    (min-resolution: 3dppx) {
    .herolib {
        background-image: linear-gradient(
                83.48deg,
                #0e0e0e 25.78%,
                rgba(14, 14, 14, 0) 60.07%
            ),
            url("../../images/temporary/hero-hall-desktop-2x.jpg");
    }
}
@media screen and (min-width: 768px) {
    .herolib {
        width: 768px;
        height: 432px;
        background-image: linear-gradient(
                83.48deg,
                #0e0e0e 25.78%,
                rgba(14, 14, 14, 0) 60.07%
            ),
            url("../../images/temporary/hero-hall-desktop-2x.jpg");
    }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2),
    screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2),
    screen and (min-width: 768px) and (min-resolution: 192dpi),
    screen and (min-width: 768px) and (min-resolution: 2dppx) {
    .herolib {
        background-image: linear-gradient(
                83.48deg,
                #0e0e0e 25.78%,
                rgba(14, 14, 14, 0) 60.07%
            ),
            url("../../images/temporary/hero-hall-desktop-2x.jpg");
    }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 3),
    screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 3),
    screen and (min-width: 768px) and (min-resolution: 288dpi),
    screen and (min-width: 768px) and (min-resolution: 3dppx) {
    .herolib {
        background-image: linear-gradient(
                83.48deg,
                #0e0e0e 25.78%,
                rgba(14, 14, 14, 0) 60.07%
            ),
            url("../../images/temporary/hero-hall-desktop-2x.jpg");
    }
}
@media screen and (min-width: 1280px) {
    .herolib {
        width: 1280px;
        height: 720px;
        background-image: linear-gradient(
                83.48deg,
                #0e0e0e 25.78%,
                rgba(14, 14, 14, 0) 60.07%
            ),
            url("../../images/temporary/hero-hall-desktop-2x.jpg");
    }
}
@media screen and (min-width: 1280px) and (min-device-pixel-ratio: 2),
    screen and (min-width: 1280px) and (-webkit-min-device-pixel-ratio: 2),
    screen and (min-width: 1280px) and (min-resolution: 192dpi),
    screen and (min-width: 1280px) and (min-resolution: 2dppx) {
    .herolib {
        background-image: linear-gradient(
                83.48deg,
                #0e0e0e 25.78%,
                rgba(14, 14, 14, 0) 60.07%
            ),
            url("../../images/temporary/hero-hall-desktop-2x.jpg");
    }
}
@media screen and (min-width: 1280px) and (min-device-pixel-ratio: 2) and (min-device-pixel-ratio: 3),
    screen and (min-width: 1280px) and (min-device-pixel-ratio: 2) and (-webkit-min-device-pixel-ratio: 3),
    screen and (min-width: 1280px) and (min-device-pixel-ratio: 2) and (min-resolution: 288dpi),
    screen and (min-width: 1280px) and (min-device-pixel-ratio: 2) and (min-resolution: 3dppx),
    screen and (min-width: 1280px) and (-webkit-min-device-pixel-ratio: 2) and (min-device-pixel-ratio: 3),
    screen and (min-width: 1280px) and (-webkit-min-device-pixel-ratio: 2) and (-webkit-min-device-pixel-ratio: 3),
    screen and (min-width: 1280px) and (-webkit-min-device-pixel-ratio: 2) and (min-resolution: 288dpi),
    screen and (min-width: 1280px) and (-webkit-min-device-pixel-ratio: 2) and (min-resolution: 3dppx),
    screen and (min-width: 1280px) and (min-resolution: 192dpi) and (min-device-pixel-ratio: 3),
    screen and (min-width: 1280px) and (min-resolution: 192dpi) and (-webkit-min-device-pixel-ratio: 3),
    screen and (min-width: 1280px) and (min-resolution: 192dpi) and (min-resolution: 288dpi),
    screen and (min-width: 1280px) and (min-resolution: 192dpi) and (min-resolution: 3dppx),
    screen and (min-width: 1280px) and (min-resolution: 2dppx) and (min-device-pixel-ratio: 3),
    screen and (min-width: 1280px) and (min-resolution: 2dppx) and (-webkit-min-device-pixel-ratio: 3),
    screen and (min-width: 1280px) and (min-resolution: 2dppx) and (min-resolution: 288dpi),
    screen and (min-width: 1280px) and (min-resolution: 2dppx) and (min-resolution: 3dppx) {
    .herolib {
        background-image: linear-gradient(
                83.48deg,
                #0e0e0e 25.78%,
                rgba(14, 14, 14, 0) 60.07%
            ),
            url("../../images/temporary/hero-hall-desktop-2x.jpg");
    }
}
.is-hidden {
    display: none;
}
.library-btn {
    border: 1px solid transparent;
}
.library-btn a {
    color: inherit;
}

#back-to-top {
    position: fixed;
    right: 20px;
    bottom: 20px;
    display: none;
    border: none;
    background-color: transparent;
}
.scroll-up__icon {
    width: 50px;
    height: 50px;
    fill: var(--orange);
    transition: fill 0.2s ease-in-out;
}
.scroll-up__icon--active:hover {
    fill: #ffc226;
    cursor: pointer;
}
/* ========================UPCOMING====================== */

.upcoming__film-rateing {
    display: flex;
    gap: 5px;
}

@media (min-width: 768px) {
    .upcoming-div {
        display: flex;
    }
}
@media (min-width: 1280px) {
    .upcoming-film-box {
        flex-wrap: nowrap;
    }
}
