.header {
    padding: 8px 20px;
    position: relative;

    display: flex;
    justify-content: space-between;
    align-items: center;

    background-color: black;
}

.header__logo-container {
    display: flex;
    align-items: center;
    gap: 5px;

    cursor: pointer;
}

.header__logo-text {
    display: none;
}
@media (width > 525px) {
    .header__logo-text {
        display: block;
    }
}

.header__menu {
    display: none;
}

.header__mobile-menu-toggle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.header__mobile-menu {
    position: fixed;
    top: 0;
    left: -101%;

    width: 64vw;
    min-height: 100vh;
    padding: 8px 20px;
    border-radius: 0 8px 8px 0;
    z-index: 10;
    display: flex;
    flex-direction: column;
    gap: 40px;

    background-color: #171717;
    overflow-y: auto;
}

.header__mobile-menu.is-open {
    left: 0;
}

body.menu-open {
    overflow-y: hidden;
}

.header__mobile-menu-backdrop {
    background: rgba(255, 255, 255, 0.2);
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 9;
    opacity: 0;
    visibility: hidden;
}

.header__mobile-menu-backdrop.menu-open {
    visibility: visible;
    opacity: 1;
}

.header__mobile-menu-logo {
    width: fit-content;
}

.header__mobile-menu-list {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.header__mobile-menu-link {
    display: flex;
    align-items: center;
    gap: 6px;
    width: fit-content;
}

.header__mobile-menu-link-icon {
    margin-bottom: 1px;
}

.header__theme-switcher {
    width: 44px;
    height: 18px;
    padding: 3px;
    border-radius: 12px;

    display: flex;
    align-items: center;
    justify-content: space-between;
    background-image: var(--primary-gradient);

    cursor: pointer;
    position: relative;
}

.header__theme-switcher-thumb {
    position: absolute;
    top: 2px;
    right: 2px;

    display: flex;
    justify-content: center;
    align-items: center;

    width: 14px;
    height: 14px;
    border-radius: 50%;
    background-color: white;
}

.thumb-arc {
    --b: 1.2px; /* the border thickness */
    --a: 90deg; /* control the progression */

    width: 13px;
    aspect-ratio: 1;
    padding: var(--b);
    border-radius: 50%;
    background-image: var(--primary-gradient);
    transform: rotate(45deg);
    --_g: /var(--b) var(--b) no-repeat radial-gradient(50% 50%, #000 97%, #0000);
    mask: top var(--_g),
        calc(50% + 50% * sin(var(--a))) calc(50% - 50% * cos(var(--a)))
            var(--_g),
        linear-gradient(#0000 0 0) content-box intersect,
        conic-gradient(#000 var(--a), #0000 0);
}

.header__theme-switcher.light-theme .header__theme-switcher-thumb {
    transform: translateX(-26px) rotate(-180deg);
}

@media (width >= 768px) {
    .header {
        padding: 6px 32px;
    }

    .header__logo-container {
        gap: 8px;
    }

    .header__logo-img {
        height: 48px;
        max-width: 48px;
    }

    .header__mobile-menu,
    .header__mobile-menu-toggle,
    .header__mobile-menu-backdrop {
        display: none;
    }

    .header__menu {
        display: block;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .header__menu-list {
        display: flex;
        gap: 32px;
    }

    .header__theme-switcher {
        width: 60px;
        height: 24px;
        padding: 4px;
    }

    .header__theme-switcher-icon {
        width: 16px;
        height: 16px;
    }

    .header__theme-switcher-thumb {
        top: 3px;
        right: 3px;
        width: 18px;
        height: 18px;
    }

    .header__theme-switcher.light-theme .header__theme-switcher-thumb {
        transform: translateX(-36px) rotate(-180deg);
    }

    .thumb-arc {
        --a: 100deg; /* control the progression */
        transform: rotate(40deg);
        width: 17px;
    }
}

@media (width >= 1280) {
    .header__menu-list {
        gap: 40px;
    }
}
