.hero {
    height: 380px;
    margin-bottom: 40px;
    overflow: hidden;
    position: relative;
}

.hero__background-img-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(
        82deg,
        #111 clamp(29%, calc(29% + calc((100vw - 320px) / 448) * 100), 42%),
        rgba(17, 17, 17, 0) 75%
    );
}

.hero__background-img {
    position: absolute;
    z-index: -1;
    height: 100%;
    width: 100%;
    object-fit: cover;
    transform: translateX(19vw);
}

.hero__content {
    position: relative;
    padding-top: 40px;
}

.hero__title {
    margin-bottom: 12px;
}

.hero__stars-list {
    display: flex;
    gap: 4px;
    margin-bottom: 16px;
}

.hero__star {
    width: min(24px, calc(16px + (24 - 16) * ((100vw - 320px) / (1280 - 320))));
    height: min(
        24px,
        calc(16px + (24 - 16) * ((100vw - 320px) / (1280 - 320)))
    );
}

.hero__description {
    max-width: clamp(
        177px,
        calc(177px + calc((100vw - 320px) / 448 * 118)),
        295px
    ); /* Width scales linearly from 177px to 295px */
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 4;
    line-clamp: 4;
    overflow: hidden;
    margin-bottom: 20px;
}

.hero__buttons-container {
    display: flex;
    gap: 8px;
}

.hero__btn-trailer,
.hero__btn-details {
    width: 117px;
    min-height: 38px;
    border-radius: 74px;

    cursor: pointer;
}

.hero__btn-trailer {
    background: var(--primary-gradient);
}

.hero__btn-trailer:hover,
.hero__btn-trailer:focus-visible {
    transform: scale(1.03);
    border: 2px solid transparent; /* Use transparent so the background image is visible */
    background-image: linear-gradient(white, white), var(--primary-gradient);
    background-origin: border-box;
    background-clip: padding-box, border-box;
}

.hero__btn-trailer:active:hover,
.hero__btn-trailer:active:focus-visible,
.hero__btn-details:active:hover,
.hero__btn-details:active:focus-visible {
    transform: scale(1);
}

.hero__btn-details {
    background: transparent;
    border: 1px solid #ffffff;
}

.hero__btn-details:hover,
.hero__btn-details:focus-visible {
    background: #ffffff;
    transform: scale(1.03);
}

@media (768px <= width) {
    .hero {
        height: clamp(
            372px,
            calc(380px + (660 - 380) * ((100vw - 768px) / (1280 - 768))),
            660px
        );
        margin-bottom: clamp(
            52px,
            calc(52px + (80 - 52) * ((100vw - 768px) / (1280 - 768))),
            80px
        );
    }

    .hero__background-img-wrapper {
        background: linear-gradient(82deg, #111 39%, rgba(17, 17, 17, 0) 75%);
    }

    .hero__background-img {
        object-fit: contain;
        transform: translateX(19vw);
    }

    .hero__content {
        padding-top: 36px;
        padding-top: clamp(
            36px,
            calc(36px + (118 - 36) * ((100vw - 768px) / (1280 - 768))),
            118px
        );
        padding-left: clamp(
            0px,
            calc(0px + (118 - 0) * ((100vw - 768px) / (1280 - 768))),
            118px
        );
        max-width: min(772px, 60vw);
    }

    .hero__stars-list {
        margin-bottom: 20px;
    }

    .hero__description {
        max-width: min(
            412px,
            calc(295px + (367 - 295) * ((100vw - 768px) / (1280 - 768)))
        );
        margin-bottom: 28px;
    }

    .hero__btn-trailer,
    .hero__btn-details {
        width: 128px;
        height: 40px;
    }
}

@media (width > 1050px) {
    .hero__background-img {
        right: 0;
        max-width: min(65vw, 1690px);
        object-fit: cover;
        transform: translateX(0);
    }
}

@media (width >= 1280px) {
    .hero__title {
        margin-bottom: 16px;
    }

    .hero__description {
        margin-bottom: 36px;
    }

    .hero__btn-trailer,
    .hero__btn-details {
        width: 139px;
        height: 48px;
    }
}
